

<router-outlet></router-outlet>



<section class="relative py-20 overflow-hidden">
  <img class="absolute top-0 left-0" src="assets/blue-light-left.png" alt="">
  <img class="absolute bottom-0 left-1/2" src="assets/orange-light-bottom.png" alt="">
  <div class="relative container px-4 mx-auto">
    <div class="max-w-7xl mx-auto">
      <div class="pb-8 mb-15 border-b border-gray-100 text-center">
        <a class="inline-block" href="#">
          <img class="h-15" src="assets/logo.png" style="width: 100px; height: 100px" alt="">
        </a>
      </div>
      <div class="flex flex-wrap -mb-2 -mx-6 items-center justify-center">
        <div class="px-6 mb-5"><a class="inline-block text-gray-900 hover:text-gray-600" href="#">Home</a></div>
        <div class="px-6 mb-5"><a class="inline-block text-gray-900 hover:text-gray-600" href="#">Blog</a></div>
        <div class="px-6 mb-5"><a class="inline-block text-gray-900 hover:text-gray-600" href="#">Use cases</a></div>
        <div class="px-6 mb-5"><a class="inline-block text-gray-900 hover:text-gray-600" href="/challenge">Challenge</a></div>
        <div class="px-6 mb-5"><a class="inline-block text-gray-900 hover:text-gray-600" href="#">Events</a></div>
        <div class="px-6 mb-5"><a class="inline-block text-gray-900 hover:text-gray-600" href="#">Abouts us</a></div>
        <div class="px-6 mb-5"><a class="inline-block text-gray-900 hover:text-gray-600" href="#">Contact</a></div>
      </div>
      <div class="mt-10 text-center">
        <span class="text-gray-500">&copy; 2024 Rim-ai. All rights reserved.</span>
      </div>
    </div>
  </div>
</section>